body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.vh-100 {
    height: 100vh;
}

.overflow-auto {
    overflow: auto;
}

#board {
    padding: 20px;
}

.rotate-me {
    cursor: grab;
    fill: #ffffff;
    /* white fill */
    stroke: #000000;
    /* black border */
    stroke-width: 3px;
}


.move-me {
    cursor: move;
}

.resize-me {
    cursor: nwse-resize;
}
